{% extends 'base.html' %}

{% block content %}
  <div class="col-md-10 offset-md-1">
    <h1 class="basedark ml-4">
      {{ group_name }}
    </h1>
    <h2 class="basedark ml-4">
      {{ group_owner }}
    </h2>
    <table class="table table-dark table-hover m-4">
      <thead>
      <tr>
        <th>Member Name</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      {% for update_form in update_forms %}
        <tr>
          {{ update_form.id }}
          <td>
            {{ render_field(update_form.member_name, form_type='inline', readonly=True) }}
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger view-delete">Delete</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <hr/>
  {{ make_form(new_form, 'New Member') }}
{% endblock %}