{% extends 'base.html' %}
{% from "photo.html" import render_photo %}

{% block content %}
  <div class="container-fluid">
    {# new post form #}
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header">
          <h2>
            Post Photo
          </h2>
        </div>
        <div class="card-body">
          {{ render_form(form) }}
        </div>
      </div>
    </div>
    <br>

    {# posts to see #}
    {% for photo in photos %}
      {{ render_photo(photo, current_user) }}
    {% endfor %}
  </div>
{% endblock %}
