{% from 'bootstrap/form.html' import render_form, render_field %}
{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'form.html' import make_form %}

{% macro render_photo(photo, current_user) %}

  <div class="col-md-4 offset-md-4">

    <div class="card">
      {% if current_user.username == photo.photoOwner %}
        <div class="m-2">
        <span class="float-right">
          <btn type="button" class="btn btn-outline-danger">
            X
          </btn>
        </span>
        </div>
      {% endif %}
      <img src="{{ photo.image_link }}" class="m-5" alt="{{ photo.photoOwner }}">

      <div class="card-body">
        <small>{{ photo.timestamp }}</small>
        <h4>{{ photo.photoOwner }}</h4>
        <p class="card-text">{{ photo.caption }}</p>
        <button data-toggle="collapse" data-target="#photo-comments-{{ photo.photoID }}"
                class="btn btn-primary">
          Comments
          <span class="badge badge-light">{{ comments | length }}</span>
        </button>
      </div>

      <div class="card-footer">
        <div id="photo-comments-{{ photo.photoID }}" class="collapse hide">
          {% for comment in comments %}
            <h2>{{ comment.username }}</h2>
            <p class="card-text">
              {{ comment.commentText }}
            </p>
            </div>
            <br>
          {% endfor %}
        <br>
        <div class="text-center">
          <a href="#" class="btn btn-primary btn-rounded mb-4" data-toggle="modal"
             data-target="#modalCommentForm">
            Comment
          </a>
        </div>

        {#               comment modal for current photo#}
        {#              <div class="modal fade" id="modalCommentForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
        {#                <div class="modal-dialog" role="document">#}
        {#                  <div class="modal-content">#}
        {#                     model title#}
        {#                    <div class="modal-header text-center">#}
        {#                      <h4 class="modal-title w-100 font-weight-bold">Comment</h4>#}
        {#                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
        {#                        <span aria-hidden="true">&times;</span>#}
        {#                      </button>#}
        {#                    </div>#}
        {##}
        {#                     input field#}
        {#                    <div class="modal-body mx-3">#}
        {#                      <div class="md-form mb-5">#}
        {#                        <input type="text" id="defaultForm-email" class="form-control validate">#}
        {#                        <label data-error="wrong" data-success="right" for="defaultForm-email">content</label>#}
        {#                      </div>#}
        {#                    </div>#}
        {##}
        {#                     submit#}
        {#                    <div class="modal-footer d-flex justify-content-center">#}
        {#                      <button class="btn btn-default">Submit</button>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                </div>#}
        {#              </div>#}


      </div>
    </div>
  </div>
  </div>
  <br>
{% endmacro %}