{% from 'bootstrap/form.html' import render_form, render_field %}
{% from 'bootstrap/nav.html' import render_nav_item %}

{% macro render_photo(photo, current_user) %}
  <br>
  <div class="card mt-5">
    {% if current_user.username == photo.photoOwner %}
      {% set delete_form = photo.delete_form %}
      <div class="m-2">
        <span class="float-right">
          {{ delete_form.id }}
          {{ delete_form.action }}
          <btn type="button" class="btn btn-outline-danger photo-delete">
            X
          </btn>
        </span>
      </div>
    {% endif %}
    <img class="pl-1 pr-1 photo-post" src="{{ photo.image_link }}" class="m-5" alt="{{ photo.photoOwner }}">

    {% set comments = photo.comments | list %}
    <div class="card-body">
      <small>{{ photo.timestamp }}</small>
      <a href="{{ url_for('users.view', username=photo.photoOwner) }}">
        <h4>{{ photo.photoOwner }}</h4>
      </a>
      <p class="card-text">{{ photo.caption }}</p>
      <button data-toggle="collapse" data-target="#photo-comments-{{ photo.photoID }}"
              class="btn btn-primary">
        Comments
        <span class="badge badge-light">{{ comments | length }}</span>
      </button>
    </div>

    <div class="card-footer">
      <div id="photo-comments-{{ photo.photoID }}" class="collapse hide">
        <ul class="list-group">
          {% for comment in comments %}
            <div class="card">
              <a href="{{ url_for('users.view', username=comment.username) }}">
                {{ comment.username }}
              </a>
              <small>
                {{ comment.timestamp }}
              </small>
              <div class="card-text">
                <big>
                  {{ comment.commentText }}
                </big>
              </div>
            </div>
          {% endfor %}
        </ul>
      </div>
      <br>
      <div class="text-center">
        <a href="#" class="btn btn-primary btn-rounded mb-4" data-toggle="modal"
           data-target="#modalCommentForm">
          Comment
        </a>
      </div>

      <div class="modal fade" id="modalCommentForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Comment</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            {% set comment_form = photo.comment_form %}
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                {{ comment_form.id }}
                {{ comment_form.action }}
                {{ comment_form.content }}
              </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-default comment-post">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_photos(photos, current_user) %}
  <div class="card-columns">
    {% for photo in photos %}
      {{ render_photo(photo, current_user) }}
    {% endfor %}
  </div>
{% endmacro %}
