{% macro render_user(person, current_user) %}
  <div class="card">
    {% set follow_form = person.follow_form %}
    {{ follow_form.id }}
    {{ follow_form.csrf_token }}

    <div class="card-body text-center h-100">
      <div class="float-left align-self-center">
        <h3 class="pl-3">
          <a href="{{ url_for('users.view', username=person.username) }}">
            @{{ person.username }}
          </a>
        </h3>
      </div>
      {% if current_user.username == person.username %}
      {% elif current_user.awaiting_accept(person) %}
        <div class="row float-right">
          <div class="col-12">
            <div class="alert alert-success align-self-center">
              Follow request sent
            </div>
          </div>
        </div>
      {% elif not current_user.follows(person) %}
        <button type="button" class="btn btn-outline-success follow-user">
          Follow {{ person.username }}
        </button>
      {% else %}
        {{ follow_form.id }}
        <button type="button" class="btn btn-outline-danger follow-user">
          Unfollow {{ person.username }}
        </button>
      {% endif %}
    </div>
  </div>
  <br>
{% endmacro %}