{% extends "base.html" %}

{% macro render_user(person, current_user) %}
  <div class="offset-md-5 col-md-2">
    <div class="card">
      <h3 class="text-center m-3">
        {{ person.username }}
      </h3>
      <div class="card-body text-center">
        {% set follow_form = person.follow_form %}
        {{ follow_form.id }}
        {% if current_user.username == person.username %}
        {% elif not current_user.follows(person) %}
          <btn type="button" class="btn btn-outline-success follow-user">Follow</btn>
        {% else %}
          {{ follow_form.id }}
          <btn type="button" class="btn btn-outline-danger follow-user">Unfollow</btn>
        {% endif %}
      </div>
    </div>
  </div>
  <br>
{% endmacro %}

{% block content %}
  <div class="container-fluid">
    {{ render_user(person, current_user) }}

    {% set visible = current_user.follows(person) or not person.isPrivate %}

    {% if visible %}
      {{ render_photos(photos, current_user) }}
    {% endif %}
  </div>
{% endblock %}